#grid {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: rgb(232, 232, 232);
    margin: 0 auto;
}
#pixel-col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#pixel {
    border: 1px solid black;
    flex-grow: 1;
}

#buttons {
    display: flex;
    justify-content: center;
}

button,
select {
    margin: 0.5em;
}
